{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ movie.title }}
{% endblock %}
{% block content %}
    <div class="wrapper">
        <section class="section-profile-cover section-shaped my-0">
            <img class="bg-image" src="{% static 'assets/img/slider/wallpaper.jpg' %}" style="width: 100%;">
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <div class="section features-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto d-block">
                        <div class="info text-center">
                            <img src="{{ movie.poster.url }}" alt="" class="img-fluid"
                                 style="max-height: 40%; max-width: 40%;">
                            <h5 class="info-title text-uppercase text-primary">{{ movie.title|title }}</h5>
                            <span class="badge badge-pill badge-primary text-uppercase">{{ movie.category }}</span>
                            <br>
                            <p class="info-title text-uppercase text-primary">Trailer</p>
                            <div id="trailer" class="mx-auto justify-content-center"></div>
                            <script>
                                var player = new Clappr.Player({
                                    source: "{{movie.trailer.url}}",
                                    parentId: "#trailer",
                                    mute: false,
                                    height: 480,
                                    width: 720,
                                });
                            </script>
                            <p class="info-title text-uppercase text-primary">Watch</p>
                            <div id="movie" class="mx-auto justify-content-center"></div>
                            <script>
                                var player = new Clappr.Player({
                                    source: "{{movie.movie.url}}",
                                    parentId: "#movie",
                                    mute: false,
                                    height: 480,
                                    width: 720,
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <br>
                <p class="lead text-center"> Suggested Movies:</p><br>
                <div class="row">
                    {% for movie in suggested_movies %}
                        <div class="col-md-4">
                            <div class="info text-center">
                                <a href="{{ movie.get_absolute_url }}">
                                    <div class=" shadow rounded-circle">
                                        <img src="{{ movie.poster.url }}" alt="" class="img-thumbnail">
                                    </div>
                                    <h6 class="info-title text-uppercase text-primary">{{ movie.title }}</h6>
                                </a>
                                <span class="badge badge-pill badge-primary text-uppercase">{{ movie.category }}</span>
                                <p class="description opacity-8">{{ movie.description }}</p>
                                <a href="javascript:;" class="text-primary">Watch
                                    <i class="ni ni-bold-right text-primary"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}